.listMini {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
    align-items: center;
    margin-right: 5vw;
    display: flex;
}

.listMini-image {
    width: 58px;
    height: 58px;
    object-fit: cover;
    align-self: center;
    border-radius: 10px;
}

.listMini-title {
    color: #e9a6a6;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: stretch;
    margin-top: 1vh;
    font-size: .625rem;
    display: flex;
    text-align: center;
}

.listMini-user {
    color: #ffffff80;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    align-items: stretch;
    font-size: .25rem;
    font-weight: 400;
    display: flex;
}

.listMini-pp {
    width: 16px;
    height: 16px;
    object-fit: cover;
    align-self: center;
    margin-right: 1vw;
    border-radius: 50%;
}
  
.listMini-name {
    color: #e9a6a6;
    align-self: center;
    font-size: .375rem;
    font-weight: 600;
}
  
.listMini-heart {
    width: 6px;
    height: 6px;
    object-fit: cover;
    align-self: center;
    margin-left: 1vw;
}
  
.listMini-num {
    align-self: center;
    margin-left: .5vw;
}
  
.listMini-comment {
    width: 4px;
    height: 4px;
    object-fit: cover;
    align-self: center;
    margin-left: 1vw;
}