body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #1f1d36;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
}

.menu-box {

}

.menu-link {

}

.menu-icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
    align-self: flex-start;
}