.sidebar {
    color: #ffffff80;
    width: 50%;
    height: 100%;
    background-color: #1f1d36;
    border-radius: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    font-family: Open Sans, Arial;
    font-size: .625rem;
    font-weight: 600;
    line-height: 14px;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}
  
.sidebar-contents {
    height: 100%;
    background-color: #1f1d3680;
    align-self: flex-start;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex-basis: 58%;
    justify-content: space-evenly;
    align-self: flex-start;
    align-items: stretch;
    padding-bottom: 80px;
    padding-left: 20px;
}
  
.sidebar-hamburger {
    width: 20px;
    height: 15px;
    margin-top: 20px;
    margin-left: 15px;
    object-fit: cover;
    align-self: flex-start;
}
  
.sidebar-profile{
    color: #e9a6a6;
    width: 90%;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    align-items: center;
    font-family: Roboto, Arial;
    font-size: .75rem;
    line-height: 19px;
    display: flex;
}
  
.sidebar-pp {
    width: 44px;
    height: 44px;
    object-fit: cover;
    align-self: flex-start;
    margin-right: 15px;
    border-radius: 50%;
}
  
.sidebar-usernames {
    height: 75%;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    align-items: stretch;
    display: flex;
}
  
.sidebar-name {
    align-self: flex-start;
    font-size: 1rem;
}
  
.sidebar-user {
    color: #ffffff80;
    align-self: flex-start;
    font-weight: 400;
    line-height: 14px;
}
  
.sidebar-social {
    width: 95%;
    flex-direction: row;
    flex-basis: 3%;
    justify-content: flex-start;
    align-self: flex-start;
    align-items: stretch;
    padding-right: 22px;
    display: flex;
}
  
.sidebar-follow {
    height: 100%;
    background-color: #0000;
    border: none;
    flex-direction: row;
    flex-basis: 37%;
    justify-content: flex-start;
    align-self: flex-start;
    align-items: stretch;
    margin-right: 28px;
    display: flex;
}
  
.sidebar-follow-outline {
    height: 100%;
    border: 1px solid #9c4a8b;
    border-radius: 10px;
    flex-direction: row;
    flex-basis: 100%;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-follow-text {
    color: #ffffff;
    font-size: .55rem;
}
  
.sidebar-item {
    width: 90%;
    height: 60px;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    align-items: center;
    padding-right: 80px;
    padding-left: 20px;
    margin-left: -20px;
    display: flex;
    background-color: #1f1d36;
    border-radius: 20px;
    border: none;
}

.sidebar-item-icon {
    width: 16px;
    height: 14px;
    object-fit: cover;
    align-self: flex-start;
    margin-right: 14px;
    margin-top: 18px;
}
  
.sidebar-item-text {
    align-self: center;
    margin-top: 1px;
    margin-right: 11px;
    color: #ffffff80;
}
  
.sidebar-logout {
    color: #fff;
    width: 90%;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    align-items: flex-end;
    margin-top: 2px;
    margin-bottom: 153px;
    padding-right: 80px;
    font-size: .563rem;
    line-height: 12px;
    display: flex;
}
  
.sidebar-logout-icon {
    width: 14px;
    height: 14px;
    object-fit: cover;
    align-self: flex-start;
    margin-left: 50px;
    margin-right: 30px;
}
  
.sidebar-logout-text {
    align-self: flex-end;
    margin-bottom: 2px;
    margin-right: 19px;
}
  