body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.homepage {
    color: #fff;
    text-align: center;
    width: 100vw;
    height: calc(100vh - 1vh);
    background-color: #1f1d36;
    border-radius: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    font-family: Open Sans, Arial;
    font-size: .75rem;
    font-weight: 600;
    line-height: 16px;
    display: flex;
}

.homepage-heading {
    width: 95%;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-end;
    align-items: center;
    padding-right: 20px;
    display: flex;
    position: relative;
    margin-top: 20px;
}

.homepage-hamburger {
    width: 20px;
    height: 15px;
    object-fit: cover;
    align-self: center;
    position: absolute;
    left: 20px;
}

.homepage-pp {
    width: 44px;
    height: 44px;
    object-fit: cover;
    position: absolute;
    right: 20px;
    border-radius: 50%;
}

.homepage-hello {
    align-self: flex-start;
    margin-left: 22px;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 25px;
}

.homepage-username {
    color: #e9a6a6;
    margin-left: 5px;
}

.homepage-intro {
    align-self: flex-start;
    margin-left: 21px;
    font-size: .625rem;
    font-weight: 400;
    line-height: 14px;
    margin-top: -40px;
    margin-bottom: -30px;
}

.homepage-section-title {
    align-self: flex-start;
    margin-left: 21px;
}

.homepage-section-contents {
    width: 95%;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
    align-items: stretch;
    margin-top: -50px;
    margin-left: 28px;
    margin-right: 333px;
    padding-right: 29px;
    display: flex;
}

.homepage-reviews {
    width: 95%;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    align-items: stretch;
    margin-top: -50px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
}