body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.login {
    text-align: center;
    color: #fff;
    width: 100%;
    height: 100vh;
    background-color: #1f1d36;
    border-radius: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: Open Sans, Arial;
    font-size: .563rem;
    font-weight: 400;
    line-height: 1vh;
    display: flex;
}
  
.login-banner {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    align-self: flex-start;
    margin-bottom: 5vh;
}

.login-logo {
    position: relative;
    width: 80%;
    object-fit: contain;
    margin-top: -30vh;
}
  
.login-text {
    align-self: center;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 5vh;
}
  
.login-instructions {
    align-self: center;
    margin-bottom: 5vh;
    font-size: .813rem;
}
  
.login-input {
    color: #ffff;
    width: 65%;
    background-color: #c4c4c459;
    border: none;
    border-radius: 2vh;
    flex-direction: row;
    flex-basis: 4%;
    justify-content: flex-start;
    align-self: center;
    align-items: stretch;
    margin-bottom: 2vh;
    font-family: Open Sans, Arial;
    font-size: 9px;
    font-weight: 400;
    display: flex;
    padding-left: 3vw;
}

.login-password {
    cursor: pointer;
    text-decoration: underline;
    text-align: right;
    color: #e9a6a6;
    align-self: right;
    margin-bottom: 3vh;
    margin-left: 45%;
    text-align: right;
}
  
.login-button {
    text-align: center;
    color: #1f1d36;
    width: 30%;
    background-color: #0000;
    border: none;
    flex-direction: row;
    flex-basis: 4%;
    justify-content: flex-start;
    align-self: center;
    align-items: stretch;
    margin-bottom: 3vh;
    font-family: Open Sans, Arial;
    font-size: .875rem;
    font-weight: 700;
    display: flex;
    cursor: pointer;
}
  
.login-button-text {
    height: 100%;
    background-color: #e9a6a6;
    border-radius: 2vh;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    align-self: center;
}
  
.login-exit {
    color: #e9a6a6;
    align-self: center;
}

.login-sign-up {
    cursor: pointer;
    text-decoration: underline;
    color: inherit;
}