body {
    overflow: hidden;
    margin: 0;
}

.login {
    text-align: center;
    color: #fff;
    width: 100%;
    height: 100vh;
    background-color: #1f1d36;
    border-radius: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: Open Sans, Arial;
    font-size: .563rem;
    font-weight: 400;
    line-height: 12px;
    display: flex;
}
  
.login-banner {
    width: 100%;
    height: 389px;
    object-fit: cover;
    align-self: flex-start;
    margin-bottom: 25px;
}

.login-logo {
    position: relative;
    width: 80%;
    object-fit: contain;
    margin-top: -200px;
}
  
.login-text {
    align-self: center;
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 33px;
}
  
.login-instructions {
    align-self: center;
    margin-bottom: 29px;
    font-size: .813rem;
    line-height: 18px;
}
  
.login-input {
    color: #ffffff80;
    width: 65%;
    background-color: #c4c4c459;
    border: none;
    border-radius: 30px;
    flex-direction: row;
    flex-basis: 4%;
    justify-content: flex-start;
    align-self: center;
    align-items: stretch;
    margin-bottom: 14px;
    font-family: Open Sans, Arial;
    font-size: 9px;
    font-weight: 400;
    line-height: 12px;
    display: flex;
    padding-left: 10px;
}

.login-link {
    text-align: right;
    color: #e9a6a6;
    align-self: right;
    margin-bottom: 18px;
    margin-left: 45%;
    text-align: right;
}
  
.login-button {
    text-align: center;
    color: #1f1d36;
    width: 30%;
    background-color: #0000;
    border: none;
    flex-direction: row;
    flex-basis: 4%;
    justify-content: flex-start;
    align-self: center;
    align-items: stretch;
    margin-bottom: 19px;
    margin-left: 9px;
    font-family: Open Sans, Arial;
    font-size: .875rem;
    font-weight: 700;
    line-height: 19px;
    display: flex;
}
  
.login-button-text {
    height: 100%;
    background-color: #e9a6a6;
    border-radius: 30px;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 1px;
    display: flex;
    align-self: center;
    margin-top: 1px;
}
  
.login-exit {
    color: #e9a6a6;
    align-self: center;
}
  